body {
  background-color: #EAD1DC;
  font-family: "Arial", serif;
  }
}
.navlist {
  width:100%;
  border: 1px solid black;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding:0;
  margin:0;
  list-style-type: none;
}

@media (min-width: 700px) {
.navlist {
  font-size: 2em;
  background:#EAD1DC;
  border: 3px solid #C90076;
display:flex;
  flex-direction:row;
  padding:0;
  margin:0;
  list-style-type: none;
}
